* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

ul,
li {
  list-style: none;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

form {
  width: 600px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px auto 0;
}

.form-control {
  margin-bottom: 24px;
  width: 100%;
}

label,
input,
button,
textarea {
  display: inline-block;
  width: 100%;
}

input {
  padding: 10px;
}

button {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-align: center;
  margin-bottom: 12px;
}

button:hover {
  background-color: blue;
  color: #fff;
}

.product-card {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 24px;
}
